---
---
@import "{{ site.theme }}";

html, body, p, li, span, div, em, i {
  background-color: #0d1117 !important;
  color: #f0f6fc !important;
  opacity: 1 !important;   
}

.container-lg, .wrapper, section {
  background-color: #0d1117 !important;
  color: #f0f6fc !important;
  box-shadow: none !important;
  border: none !important;
  width: 100% !important;
  max-width: 900px !important;
  margin: 0 auto !important;
  float: none !important;
}

h1, h2, h3, h4, h5, h6, 
h1 *, h2 *, h3 *, 
.project-name, .project-tagline, .project-tagline strong {
  color: #ffffff !important;
  opacity: 1 !important;
}

blockquote, 
blockquote p, 
blockquote li, 
blockquote em, 
blockquote i,
blockquote strong,
blockquote b {
  background-color: #161b22 !important;
  color: #ffffff !important; 
  opacity: 1 !important;
  font-style: normal !important;
}

blockquote {
  border-left: 0.3em solid #30363d !important;
  padding: 15px !important;
  border-radius: 6px;
  margin: 1em 0 !important;
}

blockquote p:last-child {
  margin-bottom: 0 !important;
}

strong, b {
  color: #ffffff !important; 
  font-weight: 700 !important;
}

a {
  color: #58a6ff !important;
  text-decoration: underline !important;
}

a:hover {
  color: #ffffff !important;
}

header {
  display: none !important;
}

hr {
  background-color: #30363d !important;
  height: 1px !important;
  border: none !important;
}
